.image__container {
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--bg);
  height: 300px;
  color: var(--text-color);
  position: relative;

  flex: 1 1 calc(33.333% - 32px); /* 3 cards per row with gap consideration */
  max-width: calc(33.333% - 32px);
  box-sizing: border-box;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.image__legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  font-size: 0.75rem;
  gap: 0.5rem;
}

.alt {
  font-weight: bold;
  text-align: end;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 100%;
}

.action__button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  color: var(--text-color);
  cursor: pointer;
  transition: 0.2s ease-out;

  &:hover {
    transform: scale(1.05);
  }

  &.delete {
    background-color: lightcoral;
  }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .image__container {
    flex: 1 1 calc(50% - 32px); /* 2 cards per row */
    max-width: calc(50% - 32px);
  }
}

@media (max-width: 600px) {
  .image__container {
    flex: 1 1 100%; /* 1 card per row */
    max-width: 100%;
  }
}
