.meta__on__image {
  border-right: 1px solid var(--smooth-bg);
  padding: 1rem;
  position: sticky;
  top: 0;
  height: 100dvh;

  .topbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
    display: none;
  }

  .topbar__button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s ease-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.preview__image {
  height: 400px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--bg);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--smooth-bg);
}

.distributive__menu {
  height: fit-content;
  max-height: 560px;
  width: 100%;
  margin-block: 1rem;
  overflow: hidden;
  overflow: auto;
  color: var(--text-color);
}

.section__wrapper {
  min-height: 300px;
}

/* MEDIA QUERIES */
@media only all and (max-width: 1024px) {
  .meta__on__image__container {
    display: none;
    position: absolute;
    background-color: var(--bg-smooth);
    z-index: 2;

    .topbar {
      display: flex;
    }
  }

  .active {
    display: block;
  }
}
