.meta__on__image {
  border-right: 1px solid var(--smooth-bg);
  padding: 1rem;
}
.preview__image {
  height: 400px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--bg);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed var(--smooth-bg);
}

.distributive__menu {
  height: fit-content;
  max-height: 560px;
  width: 100%;
  margin-block: 1rem;
  overflow: hidden;
  overflow: auto;
  color: var(--text-color);
}

.section__wrapper {
  min-height: 300px;
}
